
#fadeMenu {
background: #006681;
display: none;
position: fixed;
right: 0;
top: 0;
width: 100%;
height: 50px;
z-index: 99999;
}
.container{ width:900px; margin:0 auto;}
.content{ padding:10px 20px;}

/*Floating Menu CSS*/
#fadeMenu ul{ float:left;}
#fadeMenu ul li{ float:left; list-style:none; margin:0 25px; }
#fadeMenu ul li a{ padding:10px 18px; color:#437C17; list-style:none; color:#FFF; text-decoration:none; }
#fadeMenu ul li a:hover{ background:#41A317; border-radius:4px;}
#fadeMenu ul li a{ list-style:none; color:#FFF; text-decoration:none; }
